<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>SVG Drag and Drop Test</title>
  <script src="angular.min.js"></script>
  <style>
  svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  svg text::selection {
    background: none;
  }

  svg g {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
  svg g:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  </style>
</head>
<body ng-app="dadApp">
  <div  ng-controller="dadController">
    <div>
      <button ng-click="adiciona()">Adiciona</button>
      <button ng-click="passo()">Passo</button>
      <h1>Variáveis:{{variaveis}}</h1>


    </div>

    <svg width="100%" height="900" id="svgDesenho" draggable="false">

    </svg>
  </div>
  <script>

  var app = angular.module('dadApp', []);



  app.controller('dadController', function($scope) {
    var selectedElement = 0;
    var currentX = 0;
    var currentY = 0;
    var currentMatrix = 0;
    var conectores = [];
    var simbolos={};

    $scope.fluxograma ={

      simbolos:[
        {id:"S1",tipo:"inicio",x:120,y:50,texto:"Início",emExecucao:false,proximo:"S2"},
        {id:"S2",tipo:"entrada",x:120,y:150,texto:"Digite a temperatura em F",variavel:"F",emExecucao:false,proximo:"S3"},
        {id:"S3",tipo:"processamento",x:120,y:250,comando:"C=(F-32)*5/9",emExecucao:false,proximo:"S4"},
        {id:"S4",tipo:"saida",x:120,y:350,variavel:"C",texto:"A temperatura em C é",emExecucao:false,proximo:"S5"},
        {id:"S5",tipo:"decisao",x:120,y:450,teste:"C>25",emExecucao:false,proximo:"S7",proximoFalso:"S6"},
        {id:"S6",tipo:"saida",x:120,y:550,variavel:"",texto:"FRIO",emExecucao:false,proximo:"S99"},
        {id:"S7",tipo:"saida",x:320,y:550,variavel:"",texto:"CALOR",emExecucao:false,proximo:"S99"},
        {id:"S99",tipo:"fim",x:120,y:650,texto:"Fim",emExecucao:false}
      ]
    };

    makeSVG=function (parent, tag, attrs, before) {
      var el = document.createElementNS('http://www.w3.org/2000/svg', tag);
      for (var k in attrs){
        if(k=="xlink:href"){
          el.setAttributeNS('http://www.w3.org/1999/xlink', 'href', attrs[k]);
        }else{
          el.setAttribute(k, attrs[k]);
        }
      }
      if(before){
        parent.insertBefore(el, parent.firstChild);
      }else {
        parent.appendChild(el);
      }
      return el;
    }

    desenhaSimbolo=function(e,i){
      var grupo=makeSVG(desenho,"g");
      simbolos[e.id]=grupo;
      var texto=e.id;
      var simbolo={};
      var cor="darkseagreen"
      if (e.emExecucao){
        cor="red";
      }
      if (e.tipo==="processamento") {
        texto=e.comando;
      }
      else if (e.tipo==="entrada") {
        texto=e.texto+" ["+e.variavel+ "]";
      }
      else if (e.tipo==="saida") {
        texto=e.texto+" ["+e.variavel+ "]";
      }
      else if (e.tipo==="decisao") {
        texto=e.teste;
      }
      else{
        texto=e.texto;
      }
      var text = makeSVG(grupo,"text",{'text-anchor':'middle',x:e.x, y:e.y, style: "pointer-events: none;text-anchor:middle; font-family:sans-serif"},false);
      text.innerHTML=texto;

      var tamanho=text.getComputedTextLength()+10;
      var tamanho2=tamanho/2;


      switch (e.tipo) {
        case "inicio":
        case "fim":
        simbolo = makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y, rx:tamanho, ry:25, id:e.id, style:"stroke: black; fill: "+cor+";"},true);
        conectores=[makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y+25, rx:5, ry:5, id:e.id+'Saida', style:"stroke: black; fill: black;"},true)];
        break;

        case "entrada":
        var pontos=(e.x-tamanho2+5)+","+(e.y-25)+" "+(e.x+tamanho2+5)+","+(e.y-25)+" "+(e.x+tamanho2-5)+","+(e.y+25)+" "+(e.x-tamanho2-5)+","+(e.y+25);
        simbolo = makeSVG(grupo,"polygon",{points:pontos, id:e.id, style:"stroke: black; fill: "+cor+";"},true);
        conectores=[makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y-25, rx:5, ry:5, id:e.id+'Entrada', style:"stroke: black; fill: black;"},true),makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y+25, rx:5, ry:5, id:e.id+'Saida', style:"stroke: black; fill: black;"},true)];
        break;

        case "saida":
        var pontos=(e.x-tamanho2)+","+(e.y-25)+" "+(e.x+tamanho2)+","+(e.y-25)+
        " "+(e.x+tamanho2)+","+(e.y+15)+
        " "+(e.x+tamanho2/2)+","+(e.y+25)+
        " "+(e.x)+","+(e.y+25)+
        " "+(e.x-tamanho2/2)+","+(e.y+25)+
        " "+(e.x-tamanho2)+","+(e.y+35);
        simbolo = makeSVG(grupo,"polygon",{points:pontos, id:e.id, style:"stroke: black; fill: "+cor+";"},true);
        conectores=[makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y-25, rx:5, ry:5, id:e.id+'Entrada', style:"stroke: black; fill: black;"},true),makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y+25, rx:5, ry:5, id:e.id+'Saida', style:"stroke: black; fill: black;"},true)];
        break;

        case "processamento":
        simbolo = makeSVG(grupo,"rect",{x:e.x-tamanho2, y:e.y-25, width:tamanho, height:50, id:e.id, style:"stroke: black; fill: "+cor+";"},true);
        conectores=[makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y-25, rx:5, ry:5, id:e.id+'Entrada', style:"stroke: black; fill: black;"},true),makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y+25, rx:5, ry:5, id:e.id+'Saida', style:"stroke: black; fill: black;"},true)];
        break;

        case "decisao":
        var pontos=(e.x)+","+(e.y-35)+" "+(e.x+tamanho2+30)+","+(e.y)+" "+(e.x)+","+(e.y+35)+" "+(e.x-tamanho2-30)+","+(e.y);
        simbolo = makeSVG(grupo,"polygon",{points:pontos, id:e.id, style:"stroke: black; fill: "+cor+";"},true);
        conectores=[
          makeSVG(grupo,"ellipse",{cx:(e.x+tamanho2+30), cy:e.y, rx:5, ry:5, id:e.id+'SaidaFalsa', style:"stroke: black; fill: black;"},true),
          makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y-35, rx:5, ry:5, id:e.id+'Entrada', style:"stroke: black; fill: black;"},true),
          makeSVG(grupo,"ellipse",{cx:e.x, cy:e.y+35, rx:5, ry:5, id:e.id+'Saida', style:"stroke: black; fill: black;"},true)

        ];
        break;
      }
      grupo.setAttributeNS(null, "transform", "matrix(1 0 0 1 0 0)");

      simbolo.onmousedown=selectElement;
      simbolo.onmouseout=deselectElement;
      simbolo.onmouseup=deselectElement;

      grupo.model=e;
    }

    desenhaConectores=function(a,i){
      if (!a.proximo){
        return;
      }
      var origem=simbolos[a.id];
      var destino=simbolos[a.proximo];

      dx=destino.childNodes[1].cx.baseVal.value+destino.transform.animVal[0].matrix.e;
      dy=destino.childNodes[1].cy.baseVal.value+destino.transform.animVal[0].matrix.f;


      ox=origem.childNodes[0].cx.baseVal.value+origem.transform.animVal[0].matrix.e;
      oy=origem.childNodes[0].cy.baseVal.value+origem.transform.animVal[0].matrix.f;
      var conector=makeSVG(desenho,"line",{x1:ox, y1:oy,x2:dx,y2:dy,style:"pointer-events: none;stroke:black;stroke-width:3 "},true);
      conector.tipo="conector";

      if (a.proximoFalso){
        var destino=simbolos[a.proximoFalso];
        ox=origem.childNodes[2].cx.baseVal.value+origem.transform.animVal[0].matrix.e;
        oy=origem.childNodes[2].cy.baseVal.value+origem.transform.animVal[0].matrix.f;
        dx=destino.childNodes[1].cx.baseVal.value+destino.transform.animVal[0].matrix.e;
        dy=destino.childNodes[1].cy.baseVal.value+destino.transform.animVal[0].matrix.f;
        var conector2=makeSVG(desenho,"line",{x1:ox, y1:oy,x2:dx,y2:dy,style:"pointer-events: none;stroke:black;stroke-width:3 "},true);
        conector2.tipo="conector";
      }
    }


    limpaLinhas = function(){
      var element = document.getElementById("svgDesenho");
      var count = 0;
      for(child in element.childNodes){
        if(element.childNodes[count] && (element.childNodes[count].tipo == 'conector' )){
          element.removeChild(element.childNodes[count]);
        }
        count++;
      }
    }

    desenha=function(g){
      conectores = [];
      simbolos={};
      var element = document.getElementById("svgDesenho");
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
      g.simbolos.forEach(desenhaSimbolo);
      g.simbolos.forEach(desenhaConectores);
    }


    function moveElement(evt){
      se = evt.target.parentElement;
      dx = evt.clientX - currentX;
      dy = evt.clientY - currentY;

      currentMatrix[4] += dx;
      currentMatrix[5] += dy;
      newMatrix = "matrix(" + currentMatrix.join(' ') + ")";

      se.setAttributeNS(null, "transform", newMatrix);

      se.model.x+=dx;
      se.model.y+=dy;
      currentX = evt.clientX;
      currentY = evt.clientY;
      selectedElement = evt.target.parentElement;
      setTimeout(function(){
        limpaLinhas();
        $scope.fluxograma.simbolos.forEach(desenhaConectores);
        $scope.$apply();
      },20);
    }

    function selectElement(evt) {
      currentX = evt.clientX;
      currentY = evt.clientY;
      //TESTAR SE É O GRUPO OOU O ELEMENTO
      selectedElement = evt.target.parentElement;
      currentMatrix = selectedElement.getAttributeNS(null, "transform").slice(7,-1).split(' ');
      for(var i=0; i<currentMatrix.length; i++) {
        currentMatrix[i] = parseFloat(currentMatrix[i]);
      }
      selectedElement.onmousemove=moveElement;

    }
    function deselectElement(evt) {
      selectedElement = evt.target.parentElement;
      selectedElement.onmousemove=null;
    }

    $scope.adiciona=function(){
      var entities = $scope.grafico.packages[0].rinaEntities;
      entities.push({x:Math.random()*600,y:Math.random()*600, name: 'Outra entidade', fields: []})
      desenha($scope.grafico);
    }

    function estadoPorId(id){
      for (i=0;i<$scope.fluxograma.simbolos.length;i++){
        if ($scope.fluxograma.simbolos[i].id===id){
          return $scope.fluxograma.simbolos[i];
        }
      }
    }

    var evalWithinContext = function(context, code)
    {
      var ct='';
      for (c in context){
        ct+=c+'='+context[c]+';';
      }
        return eval(ct+code);
    };

    $scope.passo=function(){
      if (!$scope.estadoCorrente){
        $scope.estadoCorrente=$scope.fluxograma.simbolos[0];
      }
      else{
        $scope.estadoCorrente.emExecucao=false;
        $scope.estadoCorrente=estadoPorId($scope.estadoCorrente.proximo);
      }
      if ($scope.estadoCorrente){
        if ($scope.estadoCorrente.tipo==='decisao'){
          var result = evalWithinContext($scope.variaveis,$scope.estadoCorrente.teste);
          console.log(result);
          if (!result){
            $scope.estadoCorrente=estadoPorId($scope.estadoCorrente.proximoFalso);
          }
        }
        if ($scope.estadoCorrente.tipo==='entrada'){
          var resposta = prompt($scope.estadoCorrente.texto,0);
          $scope.variaveis[$scope.estadoCorrente.variavel]=resposta;
        }
        if ($scope.estadoCorrente.tipo==='processamento'){
          variavel=$scope.estadoCorrente.comando.split('=');
          var result = evalWithinContext($scope.variaveis,variavel[1]);
          $scope.variaveis[variavel[0]]=result;
        }
        if ($scope.estadoCorrente.tipo==='saida'){
          if ($scope.estadoCorrente.variavel){
            alert($scope.estadoCorrente.texto+' '+$scope.variaveis[$scope.estadoCorrente.variavel]);
          }
          else{
            alert($scope.estadoCorrente.texto);
          }
        }

        $scope.estadoCorrente.emExecucao=true;
        desenha($scope.fluxograma);
      }





    }


    var desenho=document.getElementById("svgDesenho");

    desenha($scope.fluxograma);
    $scope.variaveis={};
  });
  </script>
</body>
</html>
